<div class="container my-50" style="margin-top: 88px;" *ngIf="artwork">
    <!-- Title and Artist Information -->
    <div class="container">
        <div class="row">
            <h1 class="text-center display-4">{{ artwork?.title }}</h1>
            <p class="text-center text-muted mb-4"><strong>Category:</strong> {{ artwork?.category }}</p>
        </div>
    </div>

    <!-- Main Artwork Image -->
    <div class="text-center mb-5">
        <img [src]="artworkImageUrl" class="img-fluid rounded shadow-lg" alt="Artwork Image"
            style="max-height: 550px; object-fit: contain; width: 100%; max-width: 700px;" />
    </div>

    <!-- Artwork Details Section -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card p-4 border-0 shadow-sm mb-4">

                <!-- Description -->
                <h5 class="fw-bold text-secondary mb-3">Description</h5>
                <p class="fs-5">{{ artwork?.description }}</p>

                <hr />

                <!-- Materials -->
                <div class="d-flex align-items-center mb-3">
                    <h6 class="fw-bold text-secondary mb-0">Materials:</h6>
                    <p class="ms-2 mb-0">{{ artwork.materials?.join(', ') }}</p>
                </div>

                <!-- Dimensions -->
                <div class="d-flex align-items-center mb-3">
                    <h6 class="fw-bold text-secondary mb-0">Dimensions:</h6>
                    <p class="ms-2 mb-0">{{ artwork.dimensions?.height_cm }} x {{ artwork.dimensions?.width_cm }} cm</p>
                </div>

                <!-- Provenance -->
                <div class="d-flex align-items-center mb-3">
                    <h6 class="fw-bold text-secondary mb-0">Provenance:</h6>
                    <p class="ms-2 mb-0">{{ artwork?.provenance }}</p>
                </div>

                <!-- Dates -->
                <div class="d-flex align-items-center">
                    <h6 class="fw-bold text-secondary mb-0">Created At:</h6>
                    <p class="ms-2 mb-0">{{ artwork?.created_at | date: 'longDate' }}</p>
                </div>

                <div class="d-flex align-items-center mt-1">
                    <h6 class="fw-bold text-secondary mb-0">Last Updated:</h6>
                    <p class="ms-2 mb-0">{{ artwork?.updated_at | date: 'long' }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-start">
        <h2>Reviews</h2>
        <div>
            <button class="btn btn-primary btn-sm" (click)="openArtworkReviewModal()">ADD REVIEW</button>
            <reviews-modal [artworkId]="artwork._id" (reviewAdded)="reloadReviews()"></reviews-modal>
        </div>
    </div>
    <div class=" reviews" *ngIf="!isLoading && !isReviewsEmpty()">
        <div *ngFor="let review of reviews" class="review-card">
            <div class="review-header">
                <p class="reviewer-username text-muted my-0"><small>{{ review.username }}</small></p>
                <button *ngIf="isAdminUser()" type="button" class="btn btn-danger btn-sm"
                    style="font-size: 10px; padding: 2px 4px;" (click)="deleteReview(review)"
                    [disabled]="isLoading">{{isLoading ?
                    'DELETING...'
                    : 'DELETE'}}</button>
            </div>
            <p class=" review-content">{{ review.content }}</p>
            <div class="review-meta">
                <div class="review-rating">
                    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
                        <i class="star" [ngClass]="{'filled': i < review.rating}">★</i>
                    </ng-container>
                </div>
                <span class="review-date">{{ review.created_at | date: 'medium' }}</span>
            </div>
        </div>
        <!-- Pagination Controls -->
        <app-pagination *ngIf="reviews" [currentPage]="currentPage" [totalPages]="totalPages"
            (pageChange)="goToPage($event)">
        </app-pagination>
    </div>
</div>