<h1 class="text-center mb-4" style="margin-top: 88px">Artworks</h1>
`
<div class="search-container">
    <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="loadArtworks()"
        placeholder="Search artworks by title..." class="search-input" />
    <button class="search-button" (click)="loadArtworks()">
        <i class="search-icon fas fa-search"></i>
    </button>
</div>


<div class="d-flex justify-content-between">
    <div class="dimension-filter filters-box">
        <select class="form-select" [(ngModel)]="selectedDimensionRange" (change)="onDimensionFilterChange()">
            <option [ngValue]="null">Select Size</option>
            <option *ngFor="let range of dimensionRanges" [ngValue]="range">
                {{ range.label }}
            </option>
        </select>
    </div>
    <div class="mx-4">
        <button *ngIf="isArtist()" class="btn btn-primary btn-md" (click)="openAddArtworkModal()"
            data-bs-target="#addArtworkModal">
            ADD ARTWORK
        </button>
    </div>
</div>

<!-- ADD ARTWORK MODAL -->
<add-item-modal></add-item-modal>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 m-2" style="margin-top: 70px">
    <!-- @for(artwork of artworks_data; track artwork._`id) { -->
    <div class="col" *ngFor="let artwork of artworks_data">
        <div class="card h-100 shadow-lg border-0 rounded-4 overflow-hidden" style="cursor: pointer"
            [routerLink]="['/artworks', artwork._id]">
            <div class="position-relative">
                <!-- <img src="{{artwork.images}}" class="card-img-top" alt="Artwork Image"
                    style="height: 250px; object-fit: cover;" /> -->
                <div class="card-img-overlay d-flex justify-content-end align-items-start p-2">
                    <span class="badge bg-secondary opacity-75">{{ artwork.category }}</span>
                </div>
                <!-- rating -->
                <div class="card-img-overlay d-flex justify-content-start align-items-start p-2" id="avg_rating">
                    <span class="badge bg-success opacity-75">{{ artwork.average_rating }}</span>
                </div>
                <!-- rating -->
            </div>

            <div class="card-body p-4">
                <h5 class="card-title text-truncate">{{ artwork.title }}</h5>
                <p class="card-text text-muted" id="description-{{ artwork._id }}">
                    {{ artwork.description.split(' ').slice(0, 20).join(' ') }}...
                </p>
                <hr class="text-muted">
                <p class="mb-1 truncate-text"><strong>Materials:</strong>
                    {{ artwork.materials.join(', ') }}
                </p>
                <p class="mb-1"><strong>Dimensions:</strong> {{ artwork.dimensions.height_cm }} x {{
                    artwork.dimensions.width_cm }} cm</p>
            </div>
            <div class="card-footer bg-white border-0">
                <small class="text-muted">{{ artwork.provenance }}</small>
            </div>
        </div>
    </div>
    <!-- } -->
</div>

<app-pagination [currentPage]="page" [totalPages]="totalPages" (pageChange)="goToPage($event)">
</app-pagination>