<div class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <span class="navbar-brand m-3">SAGMS</span>

    <!-- Toggler Button for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/artworks']">Artworks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/exhibitions']">Exhibitions</a>
            </li>
        </ul>
    </div>
    <div class="form-inline ms-auto mx-4">
        <!-- <auth0-button></auth0-button> -->
        <ng-container *ngIf="!authService.isLoggedIn()">

            <a routerLink="/login" class="btn btn-primary btn-md  btn-light">LOGIN</a>
        </ng-container>

        <ng-container *ngIf="authService.isLoggedIn()">
            <div class="d-flex gap-4">
                <button *ngIf="authService.isAdmin()" class="btn btn-logout btn-light">
                    <a class="text-decoration-none text-black" routerLink="/register">REGISTER</a>
                </button>
                <button (click)="logout()" class="btn btn-logout btn-light">LOGOUT</button>
            </div>
        </ng-container>

    </div>
</div>